<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>

                <header class="header">
                    <img src="https://tinyurl.com/2m6ku496" id="logo" alt="">

                    <nav class="navbar">
                        <a href="#about">About Health</a>
                        <a href="#info">Useful Information</a>
                        <a href="#topics">Medical Topics</a></li>
                        <a href="#numb">Useful Numbers</a>
                    </nav>
                    <div class="search-bar-box flex">
                        <span class="search-icon flex">
                            <i class="fas fa-search fa-2x"></i>
                        </span>
                        <input type="search" class="search-control" placeholder="Search here">
                    </div>
                </header>
                <!--background start-->
                <div class="background-image">
                    <div class="background-content">
                        <h1>Welcome to Sehati <br>Your Health is in Your Hands</h1>
                        <p>We are a medical team providing<br>information and advice<br>to help you maintain your health.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <!-- end of background-->
                <!--about start-->
                    <section class="about">
                                <div id="abt">
                                    <h1>About Health</h1>
                                    <h4>The Health</h4>
                                    <p id="text">
                                        Health is the general state of the body and mind, with reference to the soundness 
                                        of the functions of all body organs, recovery from any diseases, and the individual’s 
                                        psychological and mental happiness, Health is also the extent of the individual’s
                                        physical, emotional, mental, and social ability to adapt to the environment that surrounds him.
                                        <span id="dots">...........</span>
                                        <span id="more" style="display: none;"> 
                                            <br>Behaviors that maintain health</br>
                                        Interest in physical health has increased with the development 
                                        of health services in the world and the development of medicine as well, 
                                        through the treatment of some diseases that were incurable or fatal. 
                                        Human behavior has also become an important element in maintaining the general 
                                        health of the body, so behaviors must be improved by following
                                        the following: Among these behaviors are:
                                        <br>Commitment to good health habits.</br>
                                        <br>Maintaining an appropriate weight by reducing the calories consumed, 
                                        which leads to an increased feeling of activity and vitality.<br>
                                        <br>Eat healthy.<br>
                                        <br>Doing exercise.</br>
                                        </span>
                                    </p>
                                    
                                    <a id="readMore" onclick="toggleReadMore()">Read more</a>
                                </div>
                            
                                    <div class="inner-about">
                                        <div class="inner-about-image">
                                            <img src="https://tinyurl.com/y5uwyhx6" alt="">
                                        </div>
                                    </div>
                        
                    </section>
                <!--end of about-->
       
                <!--info start-->
                    <section class="info">
                        <h1 class="title">Useful Information</h1>
                            <div class="swiper mySwiper container">
                                <div class="swiper-wrapper content">
                                    <div class="swiper-slide card">     
                                        <div class="inf">
                                            <img src="https://tinyurl.com/4ckps6cx">
                                            <h3>What are the causes of hearing loss</h3>
                                            <p class="text"> 
                                                In newborns:
                                                If he has a genetic family history;
                                                If the mother had infections during pregnancy;
                                                If he suffered from a lack of oxygen during childbirth;
                                                If he suffers from severe jaundice immediately after birth;
                                                In case of premature birth.
                                                If he suffers from some infections such as: meningitis, 
                                                measles, mumps, or an infection that affects 
                                                the ear and is accompanied by secretions;
                                                Use of certain medications;
                                                Head trauma or ear injury;
                                                Exposure to loud sounds in different places;
                                                Listening to personal radios at loud volume;
                                                Blockage of the auditory canal by wax or foreign bodies
                                            </p>
                                            
                                            <button class="butt">Read more</button>
                                        </div>
                                    
                                    </div>
                                <div class="swiper-slide card">
                                    
                                        <div class="inf">
                                            <img src="https://tinyurl.com/5ckd7dvt">
                                            <h3>Maintaining kidney health</h3>
                                            <p class="text"> 
                                                Doing regular physical activity                          
                                                Regular monitoring of blood sugar and cholesterol levels;
                                                Monitor blood pressure and reduce salt intake;
                                                Adopting a balanced and varied diet and drinking enough water.
                                                Maintaining a healthy and healthy weight;
                                                Do not consume some medications that are dispensed without 
                                                a prescription on a regular basis, especially non-steroidal 
                                                anti-inflammatory drugs, which can lead to kidney failure in the long term.
                                    
                                            </p>
                                            <button class="butt">Read more</button>
                                        </div>
                                    
                                </div>
                                <div class="swiper-slide card">
                                    
                                        <div class="inf">
                                            <img src="https://tinyurl.com/322sw4h7">
                                            <h3>What are the benefits of donating blood?</h3>
                                            <p class="text"> 
                                                On the health level

                                                Increases the activity of the bone marrow in producing new amounts of blood.
                                                Increases blood circulation activity;
                                                It reduces the level of iron in the blood, which 
                                                reduces the risk of heart disease and clogged arteries.
                                                People who donate their blood at least once a year are less 
                                                likely to develop leukemia.
                                                On the moral level
                                                
                                                The donor’s sense of security and satisfaction thanks to 
                                                performing his duty and contributing to helping those in need;
                                                
                                            </p>
                                            <button class="butt">Read more</button>
                                        </div>
                                
                                </div>
                                <div class="swiper-slide card">
                                    
                                        <div class="inf">
                                            <img src="https://tinyurl.com/2akhpwt8">
                                            <h3>Tips of combat excessive heat</h3>
                                            <p class="text"> 
                                                It is very important to protect ourselves,
                                                even if the heat wave is for a short period.
                                                For this reason, there is a set of simple measures 
                                                that must be adopted by everyone, especially by 
                                                people with extreme sensitivity to high temperatures 
                                                as well as workers exposed 
                                                directly to sunlight. All this in order to avoid as 
                                                much as possible the negative effects of high temperatures.


                                            </p>
                                            <button class="butt">Read more</button>
                                        </div>
                                    
                                </div>
                                <div class="swiper-slide card">
                                    
                                    <div class="inf">
                                        <img src="https://tinyurl.com/zhnmr2dr">
                                        <h3>How are fats selected?</h3>
                                        <p class="text"> 
                                            What are fats?
                                            Fats are considered one of the essential nutrients 
                                            in regulating the functions of the human body. 
                                            It is a group of compounds that contain fatty acids. 
                                            Fats work in partnership with some special proteins 
                                            in the synthesis of lipoproteins present in the blood, 
                                            where different fats are transported from the blood to different organs of the body.
                                            
                                            We can differentiate between:
                                            
                                                    Simple fats: triglycerides and cholesterol;
                                                    Complex lipids: phospholipids including lecithin.
                                            


                                        </p>
                                        <button class="butt">Read more</button>
                                    </div>
                                
                            </div>
                            <div class="swiper-slide card">
                                    
                                <div class="inf">
                                    <img src="https://tinyurl.com/323ns24m">
                                    <h3>Benefits of exercise walking</h3>
                                    <p class="text"> 
                                        Walking is one of the least expensive 
                                        and simplest physical activities and does not require any 
                                        equipment or special skills. It can be practiced by all ages. 
                                        It is also suitable for everyone, from those with chronic diseases, 
                                        those who are overweight , and elderly people who find 
                                        it difficult to practice other types of sports.
                                        The World Health Organization recommends engaging 
                                        in physical activity for a period of... 
                                        At least between 30 and 60 minutes a day


                                    </p>
                                    <button class="butt">Read more</button>
                                </div>
                            
                        </div>
                        <div class="swiper-slide card">
                                    
                            <div class="inf">
                                <img src="https://tinyurl.com/mr9py98r">
                                <h3>High blood pressure</h3>
                                <p class="text"> 
                                    
                    ·        High blood pressure 
                            represents a major public health problem.
                            It is a chronic disease and one of the most common risk 
                            factors for the heart and arteries, which is constantly increasing 
                            due to the increasing rate of aging among the population.

                            ·        High blood pressure, a serious condition that greatly 

                            increases the risk of heart, brain, kidney and other diseases. 
                            It is a major cause of premature death globally.

                            ·        The danger of high blood pressure is that it  may 
                            remain high for many years without any  symptoms appearing . 
                            If this disease is examined too late, this increases the risk and 
                            the high incidence of complications when the disease is discovered.

                    · 


                                </p>
                                <button class="butt">Read more</button>
                            </div>
                        
                    </div>
                    <div class="swiper-slide card">
                                    
                        <div class="inf">
                            <img src="https://tinyurl.com/36fnpv2f">
                            <h3>Food safety</h3>
                            <p class="text"> 
                                Food safety means that food is free of all microbiological
                                or environmental contamination factors that turn it into
                                food that is harmful to the health of the consumer. For 
                                this reason, a set of rules must be followed to avoid 
                                food poisoning in order to achieve healthy and safe nutrition. These rules can be
                                summarized into five basic commandments detailed in the 
                                form of practical procedures, which are as follows:
                                wash hands and maintain hygiene
                                Separate raw food from cooked food.....


                            </p>
                            <button class="butt">Read more</button>
                        </div>

                    </div>
                    <div class="swiper-slide card">
                                    
                        <div class="inf">
                            <img src="https://tinyurl.com/hr7wh5ar">
                            <h3>malaria</h3>
                            <p class="text"> 
                                What is malaria?
                                Malaria is a parasitic disease transmitted to humans 
                                through exposure to the bite of an anopheles mosquito) Carrier of the parasite that 
                                causes the disease. It is a disease that can be prevented and treated, but if early 
                                diagnosis and rapid treatment are not done, it leads to serious 
                                complications and death in a short period, God forbid. 
                                This disease is widespread in tropical countries in particulan
                            </p>
                            <button class="butt">Read more</button>
                        </div>
                    </div>
                        </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                        
                    </section>
                <!--end of info-->

                <!--topics start-->
                    <section > 
                        <div class="topics">
                            <h1>Medical Topics</h1>
                                <div class="box">
                                    <i class="fas fa-baby-carriage"></i>
                                    
                                        <h3>Danger signs in pregnant women</h3>
                                        <p class="text"> 
                                            Pregnancy leads to natural physiological changes 
                                            in a woman's body, but there are some risks that can 
                                            accompany any pregnancy. Health problems during pregnancy 
                                            may include problems related to the mother's health, problems 
                                            related to the child's health, or both. The causes of these
                                            problems may be the presence of health problems that the mother 
                                            suffered from before pregnancy, or problems that appeared and developed 
                                            during pregnancy. It is sometimes difficult for a pregnant woman to 
                                            know what is normal and what is abnormal. Therefore, 
                                            you must immediately go to the nearest health center when any of 
                                            the following signs of danger appear ...</p>
                                            
                                            <button class="btn">read more</button>
                                    
                                </div>
                                <div class="box">
                                    <i class="fas fa-syringe"></i>
                                    
                                        <h3>Importance of vaccines?</h3>
                                        <p class="text"> 
                                            The vaccine is an effective means of protection against some serious diseases.
                                            Thanks to the vaccine, 
                                            smallpox disappeared while other diseases, 
                                            such as polio, became very rare. To ensure and maintain protection 
                                            against these diseases, it is necessary to take appropriate vaccines.
                                            <br>How do these vaccines work?<br>
                                            When we take the vaccine, we introduce into the body, via 
                                            injection or orally, inactive or weakened microbes.
                                            
                                            Our body responds when a microbe is introduced by producing 
                                            defenses called “antibodies” during life....
                                        </p>
                                            <button class="btn">read more</button>
                                    
                                </div>
                                <div class="box">
                                    <i class="fas fa-utensils"></i>
                                    
                                    
                                        <h3>Balanced diet</h3>
                                        <p class="text"> 
                                            We cannot obtain a balanced diet by eating 
                                            only one meal, but rather by diversifying foods 
                                            during several meals, and for a period of several days, 
                                            by eating a group of nutrients that differ in terms of 
                                            nutritional value, and whose components are integrated to
                                            give the necessary energy to the body.

                                            It is known that not adopting a
                                            balanced diet on a regular and frequent basis, 
                                            and for long periods, has a negative impact on health, 
                                            but if our diet is unbalanced for a temporary and transient 
                                            period, this does not pose a threat to health...

                                        </p>
                                            <button class="btn">read more</button>
                                </div>
                                <div class="box">
                                    <i class="fas fa-stethoscope"></i>
                                    
                                        <h3>Food poisoning</h3>
                                        <p class="text"> 
                                            Food poisoning results from eating spoiled 
                                            food or contaminated with bacteria or toxic 
                                            chemicals. These poisonings occur inside the home 
                                            or in public places such as restaurants, snack places, 
                                            caterers, interiors...

                                            Symptoms of food poisoning appear after minutes 
                                            or hours, depending on the substance that caused 
                                            the poisoning. These symptoms are often in the form of 
                                            vomiting, diarrhea, abdominal pain, and high temperature. 
                                            Symptoms of food poisoning vary from person to person and 
                                            depending on the cause...
                                            </p>
                                            <button class="btn">read more</button>
                                </div>
                                <div class="box">
                                    <i class="fas fa-person"></i>
                                    
                                        <h3>Addiction to screens and video games</h3>
                                        <p class="text"> 
                                            <br>Consequences of addiction to screens and video games<br>
                                            Among the common negative 
                                            consequences of addiction to screens and
                                            video games, we find the following: 
                                            <br>Consequences on the emotional and psychological level:<br>
                                            The increasing need to spend as much time as possible 
                                            in front of a screen or playing video games...
                                        </p>
                                            <button class="btn">read more</button>
                                </div>
                            
                        </div>
                    </section>
                <!--end of topics-->

                <!-- number Start -->
                    <div class="card-container">
                        <h1>Useful Numbers</h1>
                        <div class="card">
                        <div class="content">
                            <div class="front">
                            <i class="fas fa-phone-volume"></i>
                            <p>Epidemiological Awakening</p>
                            </div>
                            <div class="back">
                            <i class="fas fa-phone-volume"></i>
                            0801004747
                            </div>
                        </div>
                        </div>
                        <div class="card">
                        <div class="content">
                            <div class="front">
                            <i class="fas fa-ambulance"></i>
                            Emergency Medical Assistance Service
                            </div>
                            <div class="back">
                            <i class="fas fa-ambulance"></i>
                            0801002222
                            </div>
                        </div>
                        </div>
                        <div class="card">
                        <div class="content">
                            <div class="front">
                            <i class="fas fa-skull-crossbones"></i>
                            Poisoning
                            </div>
                            <div class="back">
                            <i class="fas fa-skull-crossbones"></i>
                            0801000180
                            </div>
                        </div>
                        </div>
                        <div class="card">
                        <div class="content">
                            <div class="front">
                            <i class="fas fa-comment-dots"></i>
                            Complaint
                            </div>
                            <div class="back">
                            <i class="fas fa-comment-dots"></i>
                            0801000190
                            </div>
                        </div>
                        </div>
                    </div>
                <!-- end of number -->
        

                <!-- contact start --> 
                <div class="container-c">
                    <form>
                        <h1>Contact Sehati</h1>
                        <input type="text" id="firstname" placeholder="First Name" required>
                        <input type="text" id="lastname" placeholder="Last Name" required>
                        <input type="email" id="email" placeholder="Email" required>
                        <input type="text" id="mobile" placeholder="Mobile" required>
                        <h4>Type your message here...</h4>
                        <textarea required></textarea>
                        <input type="submit" value="Send" id="button">
                    </form>
                </div>
                <!-- end of contact  -->

                <!--footer us start-->
                    <footer id="footer">
                        <p>Copyright &copy; 2024 All rights reserved | Made by <b><a href="https://mhjba.com" target="_blank">mhjba</a></b></p>
                    </footer>
                <!-- end of footer  -->

    <!-- Swiper js -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- javascript -->
    <script src="static/script.js"></script>

</body>
</html>

